Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")

pd.options.display.max_columns = 150
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
#Ваш код здесь
female = df.groupby('gender')['gender'].count()
female

gender
Female    3488
Male      3555
Name: gender, dtype: int64

##### 2. Какое количество уникальных значений у поля InternetService?

In [3]:
#Ваш код здесь
unique = pd.DataFrame({'Count_unique':pd.unique(df['InternetService'])}).count()
unique
df['InternetService'].describe()

count            7043
unique              3
top       Fiber optic
freq             3096
Name: InternetService, dtype: object

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [4]:
#Ваш код здесь   
list_1 = ['TotalCharges']
for i in list_1:
    df[i] = df[i].replace(" ","", regex=True)
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"])
df["TotalCharges"].describe()

count    7032.000000
mean     2283.300441
std      2266.771362
min        18.800000
25%       401.450000
50%      1397.475000
75%      3794.737500
max      8684.800000
Name: TotalCharges, dtype: float64

#изначально перевел в числовые и очистил от пробелов не обратил внимание на комментарий про странность, так как сразу увидел

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [5]:
#Ваш код здесь.
df.loc[(df["PhoneService"] == 'Yes'),"PhoneService"] = 1
df.loc[(df["PhoneService"] =='No'),"PhoneService"] = 0
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,0,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,1,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [6]:
#Ваш код здесь
# сделал без использования библиотеки numpy, так как удобнее через pandas, 
#странно, что фун-цтя describe показывает 64, а dtype 32
list_1 = ['TotalCharges']
for i in list_1:
    df[i] = df[i].replace(" ","", regex=True)
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"],downcast='float')
print(f"""Тип столбца: TotalCharges = {df["TotalCharges"].dtype}""")
df["TotalCharges"].describe()

Тип столбца: TotalCharges = float32

count    7032.000000
mean     2283.300537
std      2266.771484
min        18.799999
25%       401.450012
50%      1397.475098
75%      3794.737549
max      8684.799805
Name: TotalCharges, dtype: float64

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [7]:
#Ваш код здесь
df.loc[(df["Churn"] == 'Yes'),"Churn"] = 1
df.loc[(df["Churn"] =='No'),"Churn"] = 0
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,0,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.850000,0
1,5575-GNVDE,Male,0,No,No,34,1,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.500000,0
2,3668-QPYBK,Male,0,No,No,2,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.150002,1

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [8]:
#Ваш код здесь
list_to_change = ["StreamingTV", 'StreamingMovies','TechSupport']
for x in list_to_change:
    df.loc[(df[x] == 'Yes'),[x]] = 1
    df.loc[(df[x] =='No'),[x]] = 0
    df.loc[(df[x] =='No internet service'),[x]] = 0
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,0,No phone service,DSL,No,Yes,No,0,0,0,Month-to-month,Yes,Electronic check,29.85,29.850000,0
1,5575-GNVDE,Male,0,No,No,34,1,No,DSL,Yes,No,Yes,0,0,0,One year,No,Mailed check,56.95,1889.500000,0
2,3668-QPYBK,Male,0,No,No,2,1,No,DSL,Yes,Yes,No,0,0,0,Month-to-month,Yes,Mailed check,53.85,108.150002,1
3,7795-CFOCW,Male,0,No,No,45,0,No phone service,DSL,Yes,No,Yes,1,0,0,One year,No,Bank transfer (automatic),42.30,1840.750000,0
4,9237-HQITU,Female,0,No,No,2,1,No,Fiber optic,No,No,No,0,0,0,Month-to-month,Yes,Electronic check,70.70,151.649994,1

##### 8. Заполните пропуски в поле PhoneService значением 0

In [9]:
#Ваш код здесь
print(df.loc[(df['PhoneService'].isna()),'PhoneService'])
df['PhoneService'].fillna(0)
df.loc[(df['PhoneService'].isna()),'PhoneService']

Series([], Name: PhoneService, dtype: object)

Series([], Name: PhoneService, dtype: object)

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [10]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь
colls = df.columns
for u in colls:
    if u not in columns:
        df = df.drop(u, axis=1)
df.head(3)

,gender,tenure,PhoneService,TechSupport,StreamingTV,StreamingMovies,TotalCharges,Churn
0,Female,1,0,0,0,0,29.850000,0
1,Male,34,1,0,0,0,1889.500000,0
2,Male,2,1,0,0,0,108.150002,1

In [11]:
df.dtypes

gender              object
tenure               int64
PhoneService        object
TechSupport         object
StreamingTV         object
StreamingMovies     object
TotalCharges       float32
Churn               object
dtype: object

In [12]:
list_1 = columns
for i in list_1:
    df[i] = df[i].replace(" ","", regex=True)
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"],downcast='float')
df = df.fillna(0)
df.dtypes

gender              object
tenure               int64
PhoneService         int64
TechSupport          int64
StreamingTV          int64
StreamingMovies      int64
TotalCharges       float32
Churn                int64
dtype: object

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [13]:
from sklearn.model_selection import train_test_split
features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь
X_train, X_test, y_train, y_test = train_test_split(df[features],df[target], test_size=0.3, random_state=42)
X_train

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport
1695,Male,54,1,3770.000000,0,1,1
1095,Male,1,1,80.550003,0,1,0
3889,Male,13,1,259.649994,0,0,0
3667,Female,24,1,2263.449951,1,1,0
2902,Female,6,1,450.899994,0,0,0
...,...,...,...,...,...,...,...
3772,Male,1,1,95.000000,1,1,0
5191,Female,23,1,2198.300049,1,1,1
5226,Male,12,1,306.049988,0,0,0
5390,Male,12,1,1200.150024,1,1,0
860,Male,26,1,457.299988,0,0,0

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [14]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [15]:
#Ваш код здесь
gender.fit_transform(X_train, y_train)

      gender_Female  gender_Male
1695              0            1
1095              0            1
3889              0            1
3667              1            0
2902              1            0
...             ...          ...
3772              0            1
5191              1            0
5226              0            1
5390              0            1
860               0            1

[4930 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

Стандартизация необходима для приведения признаков к единому масштабу.

In [16]:
from sklearn.preprocessing import StandardScaler #стандартизация данных

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [17]:
#Ваш код здесь
TotalCharges = Pipeline([('selector',NumberSelector(key='TotalCharges')),
                         ('standard',StandardScaler())
                        ])

Объединение всех "кубиков" очень легко сделать таким образом

In [18]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [19]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [20]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [23]:
#Ваш код здесь
from sklearn import tree

pred_x_train = pipeline.predict(X_train)
pred_x_test = pipeline.predict(X_test)

df_pred_train = pd.DataFrame({'pred_x_train':pred_x_train})
df_pred_test =  pd.DataFrame({'pred_x_test':pred_x_test})

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [24]:
from sklearn.metrics import roc_auc_score, log_loss

#Ваш код здесь
print("train roc_auc_score = ", roc_auc_score(y_train, pred_x_train), "train log_loss = ", log_loss(y_train, pred_x_train))
print("test roc_auc_score = ", roc_auc_score(y_test, pred_x_test), "test log_loss = ", log_loss(y_test, pred_x_test))

train roc_auc_score =  0.9901881641909152 train log_loss =  0.2592188883094206
test roc_auc_score =  0.6742448940780135 test log_loss =  8.172999960501093

### Сохраним наш пайплайн

In [25]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)